* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(163, 216, 247);
    padding-left: 6px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
    padding-left: 0;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-right: 10px;
    padding-right: 10px;
    background-color: beige;
    border: 1px solid navy;
    width: 20%;
    position: absolute;
    right: 0;
}

.nav a,
h3 {
    background-color: beige;
}

h2 {
    font-size: 30px;
    margin-top: 40px;
}

.description {
    width: 40%;
}

.hero {
    margin: 20px 20px 0 0;
    overflow: auto;
}

.hero__image {
    display: block;
    float: right;
}

.hero__text {
    display: inline-block;
    width: 46%;
}

.footer {
    border: 1px solid black;
}

.footer h4 {
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid grey;
    padding-right: 10px;
}

.footer p { 
    text-align: right;
    font-weight: bold;
    margin-right: 20%;
    /* gap: 30px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px; Use this code for mobile view */
}